Source: ansible-operator-plugins
Section: devel
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
Homepage: https://github.com/operator-framework/ansible-operator-plugins/tags
Vcs-Browser: https://github.com/alvistack/operator-framework-ansible-operator-plugins
Vcs-Git: https://github.com/alvistack/operator-framework-ansible-operator-plugins.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 golang-1.24,

Package: ansible-operator-plugins
Architecture: amd64
Description: Operator SDK's ansible operator plugin
 The Operator SDK is a framework that uses the controller-runtime library
 to make writing operators easier by providing:
  - High level APIs and abstractions to write the operational logic more
    intuitively
  - Tools for scaffolding and code generation to bootstrap a new project
    fast
  - Extensions to cover common Operator use cases
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Replaces:
 operator-sdk (<< 1.32.0),
Breaks:
 operator-sdk (<< 1.32.0),
