#!/usr/bin/make -f

SHEEL := /bin/bash

override_dh_auto_build:
	mkdir -p bin
	set -ex && \
		export CGO_ENABLED=1 && \
		go build \
			-mod vendor -buildmode pie -v \
			-ldflags "-s -w \
				-X github.com/operator-framework/ansible-operator-plugins/internal/version.Version=v1.42.3 \
				-X github.com/operator-framework/ansible-operator-plugins/internal/version.GitVersion=v1.42.3 \
				-X github.com/operator-framework/ansible-operator-plugins/internal/version.GitCommit=292a56a4877c8093037c0533f3ef3c7a6bbd78e2 \
				-X github.com/operator-framework/ansible-operator-plugins/internal/version.KubernetesVersion=v1.32.0 \
				-X github.com/operator-framework/ansible-operator-plugins/internal/version.ImageVersion=v1.42.3 \
			" \
			-o ./bin/ansible-operator ./cmd/ansible-operator

override_dh_auto_install:
	install -Dpm755 -d debian/tmp/usr/bin
	install -Dpm755 -d debian/tmp/usr/share/bash-completion/completions
	install -Dpm755 -t debian/tmp/usr/bin bin/*
	./bin/ansible-operator completion bash > debian/tmp/usr/share/bash-completion/completions/ansible-operator

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
